---
import { Field, FieldGroup } from "@/components/ui/field";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { ChevronLeft } from "@lucide/astro";
---

<Layout showNavbar={false}>
  <div
    class="grid justify-center items-center h-full bg-primary w-full wrapper"
  >
    <Button
      client:load
      variant="secondary"
      size={"icon-sm"}
      className="top-4 left-4 fixed z-10 rounded-4xl"
      id="backButton"
    >
      <ChevronLeft />
    </Button>
    <div
      class="relative w-225 h-125 flex overflow-hidden rounded-2xl bg-background text-foreground"
      id="container"
    >
      <!-- LEFT SIDE -->
      <div class="flex relative w-full left">
        <!-- LOGIN -->
        <div class="w-1/2 h-full flex flex-col justify-center p-15">
          <h2 class="font-heading font-semibold pb-8">Login</h2>

          <form>
            <FieldGroup>
              <Field>
                <Input type="text" placeholder="Username" />
              </Field>

              <Field>
                <Input
                  type="password"
                  id="loginPassword"
                  placeholder="Password"
                />
              </Field>
              <Button type="submit">Login</Button>
            </FieldGroup>
          </form>

          <p>
            Don't have an account?
            <Button id="loginButton" variant={"link"}>Sign up</Button>
          </p>
        </div>

        <!-- REGISTER -->
        <div class="w-1/2 h-full flex flex-col justify-center p-15">
          <h2 class="font-heading font-semibold pb-8">Register</h2>

          <form>
            <FieldGroup>
              <Field>
                <Input type="text" placeholder="Full Name" />
              </Field>

              <Field>
                <Input type="email" placeholder="Email" />
              </Field>

              <Field>
                <Input
                  type="password"
                  id="registerPassword"
                  placeholder="Password"
                />
              </Field>

              <Button type="submit">Register</Button>
            </FieldGroup>
          </form>

          <p>
            Already have an account?
            <Button variant={"link"} id="registerButton">Login</Button>
          </p>
        </div>
      </div>

      <!-- RIGHT SIDE -->
      <div
        class="right bg-secondary text-secondary-foreground grid gap-4 rounded-2xl transition-all ease-in-out duration-600"
        id="rightSide"
      >
        <h1
          id="rightTitle"
          class="font-heading font-semibold text-4xl tracking-tight leading-tight"
        >
          WELCOME<br />BACK!
        </h1>
        <p id="rightText">
          We are happy to have you with us again. If you need anything, we are
          here to help.
        </p>
      </div>
    </div>
  </div>
</Layout>

<script is:inline>
  document
    .getElementById("registerButton")
    .addEventListener("click", showLogin);
  document
    .getElementById("loginButton")
    .addEventListener("click", showRegister);
  document
    .getElementById("backButton")
    .addEventListener("click", () => window.history.back());

  function showRegister() {
    document.getElementById("container").classList.add("active");

    // تغيير الكلام في الجزء المتحرك
    document.getElementById("rightTitle").innerHTML = "WELCOME!";
    document.getElementById("rightText").textContent =
      "We're delighted to have you here.";
  }

  function showLogin() {
    document.getElementById("container").classList.remove("active");

    // إرجاع الكلام الأصلي
    document.getElementById("rightTitle").innerHTML = "WELCOME<br>BACK!";
    document.getElementById("rightText").textContent =
      "We are happy to have you with us again.";
  }
</script>

<style>
  .right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    z-index: 10;
  }
  #container.active .right {
    right: 50%;
  }
</style>
