---
import SignupForm from "@/components/SignupForm.astro";
import { Button } from "@/components/ui/button";
import { Card, CardHeader, CardContent } from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="min-h-svh grid items-center pt-30 sm:px-15 md:px-40 wrapper">
    <Card>
      <CardHeader>
        <div class="w-full wrapper">
          <h1 class="font-heading text-2xl">Sign up</h1>
        </div>
      </CardHeader>
      <CardContent>
        <SignupForm />
        <div class="wrapper py-3">
          Already have an account? <Button variant={"link"}
            ><a href="/login">Log in.</a></Button
          >
        </div>
      </CardContent>
    </Card>
  </div>
</Layout>
