---
import Header from "@/components/Header.astro";
import SignupForm from "@/components/SignupForm.astro";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Header title="Sign Up" textWrap={false} />
  <SignupForm />
  <div class="wrapper py-3">
    Already have an account? <Button variant={"link"}
      ><a href="/login">Log in.</a></Button
    >
  </div>
</Layout>
