---
import { Field, FieldGroup, FieldLabel } from "@/components/ui/field";
import { Input } from "@/components/ui/input";
import {Button} from "@/components/ui/button"
---

<div class="wrapper">
    <form>
        <FieldGroup> 
        <Field>
            <FieldLabel>Name</FieldLabel>
            <Input />
        </Field>
        <Field>
            <FieldLabel>Username</FieldLabel>
            <Input />
        </Field>
        <Field>
            <FieldLabel>Password</FieldLabel>
            <Input type="password"/>
        </Field>
        <Field>
            <FieldLabel>Confirm password</FieldLabel>
            <Input type="password"/>
        </Field>
        <Button type="submit">Submit</Button>
        </FieldGroup>
    </form>

</div>